/APE_SEMANA4_SOLUCION/nbproject/private/
/Ejercicio01/nbproject/private/
/APE_SEMANA4_SOLUCION/build/
/APE_SEMANA4_SOLUCION/Ejercicio03/nbproject/private/
/APE_SEMANA4_SOLUCION/Ejercicio03/build/
/APE_SEMANA4_SOLUCION/Ejercicio01/nbproject/private/
/APE_SEMANA4_SOLUCION/Ejercicio01/build/
/APE_SEMANA4_SOLUCION/Ejercicio02/nbproject/private/
/APE_SEMANA4_SOLUCION/Ejercicio02/build/
/APE_SEMANA4_SOLUCION/Ejercicio04/nbproject/private/
/APE_SEMANA4_SOLUCION/Ejercicio04/build/
/APE_SEMANA4_SOLUCION/ejercicio05/nbproject/private/
/APE_SEMANA4_SOLUCION/ejercicio05/build/
/APE_SEMANA4_SOLUCION/Ejercicio06/nbproject/private/
/APE_SEMANA4_SOLUCION/Ejercicio06/build/
